<!DOCTYPE html>
<html lang="es" class="bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List - NakamaStream</title>
    <link rel="shortcut icon" href="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="/src/public/css/anime-list.css">
    <link rel="stylesheet" href="/src/public/css/main-color/color.css">
</head>
<body class="font-roboto text-gray-800">
    
    <nav class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex items-center">
              <div class="flex-shrink-0 flex items-center">
                <a href="/" class="flex flex-col items-center">
                  <span class="text-4xl font-bold text-primary">NakamaStream</span>
                  <span class="text-primary text-xs mt-0.5" style="line-height: 1;">By NakamaGroup</span>
                </a>
              </div>
              <div class="md:flex ml-6 space-x-8">
                <a href="/" class="border-orange-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                  Inicio
                </a>
                <a href="/news" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                  Noticias
                </a>
                <a href="/calendario" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                  Calendario
                </a>
              </div>
            </div>
            <div class="flex items-center">
              <div class="relative md:block">
                <a href="/animes/api/search">
                  <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input type="text" name="search" id="search" class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-orange-500 focus:border-orange-500 sm:text-sm" placeholder="Buscar anime...">
                </a>
              </div>              
              <a href="/animes/api/saved-animes" class="ml-3">
                <button class="bg-white p-2 rounded-full text-gray-400 hover:text-primary hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 transition duration-150 ease-in-out">
                  <span class="sr-only">Ver marcadores</span>
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
                  </svg>  
                </button>
              </a>                                    
              <div class="ml-3 relative">
                <button id="user-menu-button" class="bg-white rounded-full flex text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500" aria-haspopup="true" aria-expanded="true">
                  <span class="sr-only">Abrir menú de usuario</span>
                  <img src="<%= profile_image_url || 'https://avatars.githubusercontent.com/u/168317328?s=200&v=4' %>" alt="User Avatar" class="h-8 w-8 rounded-full">
                </button>
              
                <!-- Menú desplegable -->
                <div id="user-menu" class="absolute right-0 z-10 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden transition-all duration-200 transform opacity-0 scale-95" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button">
                  <div class="py-1" role="none">
                    <p class="block px-4 py-2 text-sm text-gray-700"><%= username %></p>
                    <div class="border-b border-gray-200"></div>
                    <a href="/profile" class="user-menu-link flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem">
                      <i class="fas fa-user mr-2"></i> Perfil
                    </a>
                    <a href="/animes/api/saved-animes" class="user-menu-link flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem">
                      <i class="fa-solid fa-bookmark mr-2"></i> Guardados
                    </a>
                    <a href="/profile" class="user-menu-link flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem">
                      <i class="fa-solid fa-star mr-2"></i> Favoritos
                    </a>
                    <% if (isAdmin) { %>
                      <div class="border-t mt-2"></div> <!-- Separador opcional -->
                      <a href="/admin/panel" class="user-menu-link flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem">
                        <i class="fa-solid fa-lock mr-2"></i> Panel de Admin
                      </a>
                      <a href="/anime/upload" class="user-menu-link flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem">
                        <i class="fa-solid fa-upload mr-2"></i> Subir Anime
                      </a>
                      <a href="/admin/animes/featured" class="user-menu-link flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem">
                        <i class="fa-solid fa-star mr-2"></i> Subir Anime Destacado
                      </a>
                    <% } %>
                    <a href="/logout" class="user-menu-link flex items-center px-4 py-2 text-sm text-gray-700" role="menuitem">
                      <i class="fas fa-sign-out-alt mr-2"></i> Cerrar sesión
                    </a>                    
                  </div>
                </div>
              </div>                          
            </div>
          </div>
        </div>
      </nav>
      
    <!-- Carousel -->
    <div class="container mx-auto px-4 py-4">
      <div class="relative" id="featured-anime-carousel">
          <div class="overflow-hidden">
              <div id="carousel-inner" class="flex transition-transform duration-500 ease-in-out">
                  <div class="flex-none w-full lg:w-[80%] mx-auto"> <!-- Aumenta el ancho -->
                      <div class="relative h-60 md:h-72 lg:h-[36rem] rounded-lg overflow-hidden group"> <!-- Ajustes de altura -->
                        <% if (featuredAnime && featuredAnime.featured_image_url) { %>
                          <img src="<%= featuredAnime.featured_image_url %>" alt="Imagen de <%= featuredAnime.name %>" class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105">
                        <% } else { %>
                          <p>No hay imagen destacada disponible.</p>
                        <% } %>
                          <div class="absolute inset-0 bg-gradient-to-t from-black via-black/50 to-transparent flex flex-col justify-end p-6">
                              <h3 class="text-white text-2xl font-bold mb-2"><%= featuredAnime.name %></h3>
                              <h2 class="absolute top-0 left-0 p-4 text-white text-xl font-semibold">Anime del día</h2>
                              <% if (featuredAnime.description) { %>
                                <p class="text-gray-300 mb-4 line-clamp-3">
                                  <%= featuredAnime.description.length > 120 ? featuredAnime.description.substring(0, 120) + '...' : featuredAnime.description %>
                                </p>
                              <% } else { %>
                                <p class="text-gray-300 mb-4 line-clamp-3">Descripción no disponible.</p>
                              <% } %>
                              <div class="flex items-center space-x-4">
                                  <span class="bg-orange-500 text-white px-3 py-1 rounded-full text-sm">Sub</span>
                                  <button 
                                    class="bg-orange-500 hover:bg-orange-600 text-white px-6 py-2 rounded-full transition duration-300 flex items-center group"
                                    onclick="window.location.href='/anime/<%= featuredAnime.slug %>'">
                                    <i class="fas fa-play mr-2 group-hover:animate-pulse"></i> Ver ahora
                                </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Aquí puedes añadir más divs para otros elementos del carrusel -->
              </div>
          </div>
      </div>
    </div>

    <!-- Iconos de redes sociales -->
    <div class="container mx-auto px-4 py-4 text-center">
      <h3 class="text-xl font-semibold mb-4 text-gray-800">Síguenos en nuestras redes sociales</h3>
      <div class="flex justify-center space-x-6">
        <a href="https://discord.com/invite/Rdz4yQneMK" target="_blank" class="text-gray-500 hover:text-blue-600">
          <i class="fab fa-discord text-2xl"></i>
        </a>
        <a href="https://bsky.app/profile/nakamastream.lat" target="_blank" class="text-gray-500 hover:text-blue-400">
          <i class="fa-brands fa-bluesky text-2xl"></i>
        </a>
        <a href="https://www.instagram.com/nakamastreamoficial/" target="_blank" class="text-gray-500 hover:text-pink-500">
          <i class="fab fa-instagram text-2xl"></i>
        </a>
        <a href="https://www.tiktok.com/@nakamastreamoficial" target="_blank" class="text-gray-500 hover:text-pink-500">
          <i class="fab fa-tiktok text-2xl"></i>
        </a>
        <a href="https://www.youtube.com/@NakamaStreamOficial" target="_blank" class="text-gray-500 hover:text-red-600">
          <i class="fab fa-youtube text-2xl"></i>
        </a>
      </div>
    </div>

    <div class="container mx-auto px-4 py-8">
      <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Animes En emisión</h2>
      <div class="relative">
          <div class="carousel-container overflow-hidden">
              <div id="anime-carousel" class="flex transition-transform duration-300 ease-in-out">
                  <% animes.filter(anime => anime.status === 'ongoing').slice(0, 10).forEach(anime => { %>
                      <div class="flex-none w-64 px-2">
                          <a href="/anime/<%= anime.slug %>" class="block relative overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl group">
                              <div class="aspect-w-2 aspect-h-3 bg-gray-200">
                                  <img 
                                      src="<%= anime.imageUrl %>" 
                                      alt="<%= anime.name %>" 
                                      class="w-full h-full object-cover rounded-t-lg lazy-load"
                                      data-src="<%= anime.imageUrl %>" 
                                      loading="lazy"
                                  >
                              </div>
                              <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent flex flex-col justify-end opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                                  <div class="text-white">
                                      <h2 class="text-lg font-semibold mb-1 truncate"><%= anime.name %></h2>
                                      <div class="description-container">
                                          <p class="description-text text-sm line-clamp-3">
                                              <%= anime.description %>
                                          </p>
                                      </div>
                                      <div class="flex flex-wrap gap-2 mt-2">
                                          <span class="text-xs bg-orange-500 text-white px-2 py-1 rounded-full">EP. <%= anime.episodeCount %></span>
                                          <span class="text-xs bg-blue-500 text-white px-2 py-1 rounded-full">En emisión</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                  <% }); %>
              </div>
          </div>
        <button id="prevBtn" class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 hover:bg-opacity-100 text-gray-800 hover:text-gray-900 rounded-full w-12 h-12 flex items-center justify-center shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 z-10" aria-label="Diapositiva anterior">
            <i class="fas fa-chevron-left text-2xl"></i>
        </button>
        <button id="nextBtn" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 hover:bg-opacity-100 text-gray-800 hover:text-gray-900 rounded-full w-12 h-12 flex items-center justify-center shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 z-10" aria-label="Siguiente diapositiva">
            <i class="fas fa-chevron-right text-2xl"></i>
        </button>
      </div>
  </div>

    <div class="container mx-auto px-4 py-8">
      <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Animes Recientes</h2>
      <div class="relative" data-carousel-container>
        <div class="carousel-container overflow-hidden">
          <div id="recent-anime-carousel" class="flex transition-transform duration-300 ease-in-out">
            <% animes.slice(0, 10).forEach((anime, index) => { %>
              <div class="flex-none w-64 px-2" data-anime-card>
                <a href="/anime/<%= anime.slug %>" class="block relative overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl group">
                  <div class="aspect-w-2 aspect-h-3 bg-gray-200">
                    <img 
                      src="<%= index < 6 ? anime.imageUrl : '' %>" 
                      data-src="<%= anime.imageUrl %>" 
                      alt="<%= anime.name %>" 
                      class="w-full h-full object-cover rounded-t-lg <%= index >= 5 ? 'lazy-load' : '' %>"
                      loading="<%= index < 6 ? 'eager' : 'lazy' %>"
                    >
                  </div>
                  <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent flex flex-col justify-end opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                    <div class="text-white">
                      <h2 class="text-lg font-semibold mb-1 truncate"><%= anime.name %></h2>
                      <div class="description-container">
                        <p class="description-text text-sm line-clamp-3">
                          <%= anime.description %>
                        </p>
                      </div>
                      <div class="flex flex-wrap gap-2 mt-2">
                        <span class="text-xs bg-orange-500 text-white px-2 py-1 rounded-full">EP. <%= anime.episodeCount %></span>
                        <span class="text-xs <%= anime.status === 'ongoing' ? 'bg-blue-500' : 'bg-green-500' %> text-white px-2 py-1 rounded-full">
                          <%= anime.status === 'ongoing' ? 'En emisión' : 'Finalizado' %>
                        </span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            <% }); %>
          </div>
        </div>
        <button id="prevBtnRecent" class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 hover:bg-opacity-100 text-gray-800 hover:text-gray-900 rounded-full w-12 h-12 flex items-center justify-center shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 z-10" aria-label="Diapositiva anterior">
          <i class="fas fa-chevron-left text-2xl"></i>
      </button>
      <button id="nextBtnRecent" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 hover:bg-opacity-100 text-gray-800 hover:text-gray-900 rounded-full w-12 h-12 flex items-center justify-center shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 z-10" aria-label="Siguiente diapositiva">
          <i class="fas fa-chevron-right text-2xl"></i>
      </button>
      </div>
    </div>


    <div class="container mx-auto px-4 py-16">
      <h2 class="text-3xl font-bold mb-12 text-center text-gray-800">categorías</h2>
    
      <% Object.keys(groupedAnimes).forEach(category => { %>
        <div class="mb-16">
          <!-- Título de la categoría -->
          <h3 class="text-3xl font-semibold mb-8 text-gray-800 uppercase tracking-wider">
            <%= category %>
          </h3>
    
          <!-- Carrusel Container -->
          <div class="relative">
            <!-- Carrusel de ítems (flex horizontal) -->
            <div class="carousel flex overflow-x-auto space-x-6 py-4 scroll-smooth">
              <% groupedAnimes[category].forEach(anime => { %>
                <div class="flex-none w-64 px-2">
                  <a href="/anime/<%= anime.slug %>" class="block relative overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl group">
                    <div class="aspect-w-2 aspect-h-3 bg-gray-200">
                      <img 
                        src="<%= anime.imageUrl %>" 
                        alt="<%= anime.name %>" 
                        class="w-full h-full object-cover rounded-t-lg lazy-load"
                        data-src="<%= anime.imageUrl %>" 
                        loading="lazy"
                      >
                    </div>
                    <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent flex flex-col justify-end opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-6">
                      <div class="text-white">
                        <h2 class="text-lg font-semibold mb-1 truncate"><%= anime.name %></h2>
                        <div class="description-container">
                          <p class="description-text text-sm line-clamp-3">
                            <%= anime.description %>
                          </p>
                        </div>
                        <div class="flex flex-wrap gap-2 mt-2">
                          <span class="text-xs bg-orange-500 text-white px-2 py-1 rounded-full">EP. <%= anime.episodeCount %></span>
                          <span class="text-xs <%= anime.status === 'ongoing' ? 'bg-blue-500' : 'bg-green-500' %> text-white px-2 py-1 rounded-full">
                            <%= anime.status === 'ongoing' ? 'En emisión' : 'Finalizado' %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      <% }); %>
    </div>

    <%- include('../components/donors') %>
  
    <div id="announcement-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto">
            <h2 class="text-2xl font-bold mb-4 text-gray-800">Anuncio</h2>
            <div id="announcement-message" class="mb-6 text-gray-700"></div>
            <button id="close-announcement" class="w-full bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 transition duration-300 font-semibold">Cerrar</button>
        </div>
    </div>

      <!-- Botón para volver arriba -->
      <button id="back-to-top" class="fixed bottom-5 right-5 bg-primary text-white rounded-full p-3 shadow-lg hover:bg-orange-600 transition duration-300 hidden" aria-label="Volver arriba">
        <i class="fas fa-chevron-up"></i>
      </button>

      <%- include('../components/footer') %>

    <script src="/src/public/js/anime/anime-list.js"></script>
    <script src="/src/public/js/anime/anime-carousel.js"></script>
    <script src="/src/public/js/global/lazy-load.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/src/public/js/anime/profile-anime-menu.js"></script>
    
</body>
</html>
